# Node & Vendor
/vendor/
/node_modules/

# Logs
npm-debug.log
yarn-error.log
*.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen with changed public path
public_html/storage
public_html/hot

# Storage & Env
storage/*.key
storage/pail
.env
.env.backup
.env.production

# PHP tools & Laravel specific
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# Build
/public/build

# IDE & System
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Auth
auth.json